<!DOCTYPE html>
<html lang="es">
<head>
    <!-- METAETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eskaramuza13</title>
    <meta name="robots" content="index, nofollow">
    <meta name="Author" content="Aaron Chaves Alfonso">
    <meta name="description" content="Pagina Web de una comunidad gamer, con tienda fisica">
    <meta name="keywords" content="gamer, comunidad, raid, valencia, compra, perifericos">
    <meta name="revisit-after" content="3 days">
    <meta name="category" content="Comunidad gamer, videojuegos">
    <meta name="locality" content="Valencia">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- ICONO -->
    <link rel="icon" type="image/png" href="../assets/favicon.ico">
    <!-- Estilos LightBox -->
     <link rel="stylesheet" href="../css/lightbox.css">
</head>
<body>
    
    <!-- HEADER -->
    <header>
        <!-- NAVBAR -->
        <nav class="navigationBar">
            <!-- Logo de la pagina -->
            <img src="../assets/images/logos/thumbnail_logo_web_Aarón_separado.png" class="logo" width="1890" height="1417" alt="logo de la pagina">
            <h1 id="titulo">Skaramuza13</h1>
            <ul class="navigationBarList">
                <li class="dropdown">
                    <a href="../index.html" class="enlace">Inicio</a>
                    <ul class="submenu">
                        <li><a href="../index.html#subopcion1" class="enlace">BIENVENIDOS</a></li>
                        <li><a href="../index.html#subopcion2" class="enlace">LOCALIZACION</a></li>
                        <li><a href="../index.html#subopcion3" class="enlace">SETUPS</a></li>
                        <li><a href="../index.html#subopcion4" class="enlace">NOTICIAS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../views/galeria.html" class="enlace active">Galeria</a>
                </li>
                <li>
                    <a href="../views/contacto.html" class="enlace">Contacto</a>
                </li>
                <li>
                    <a href="../views/presupuesto.html" class="enlace">Presupuesto</a>
                </li>
                
            </ul>
        </nav>
    </header>

    <!-- Galeria de Productos -->
    <!-- Galeria 1 -->
    <h2 class="perifericos">Perifericos</h2>
    <p><span>Raton Gaming Newskill EOS</span></p><p>45.95€</p>
    <div class="galeria1">
        <a href="../assets/images/galeria/newskill_1.png" data-lightbox="galeria1" data-title="NewSkill EOS RGB 16000DPI">
            <img src="../assets/images/galeria/newskill_1.png" alt="raton gaming newskill eos" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_2.png" data-lightbox="galeria1" data-title="NewsKill EOS RGB 16000DPI">
            <img src="../assets/images/galeria/newskill_2.png" alt="raton gaming newskill eos" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_3.png" data-lightbox="galeria1" data-title="NewsKill EOS RGB 16000DPI">
            <img src="../assets/images/galeria/newskill_3.png" alt="raton gaming newskill eos" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_4.png" data-lightbox="galeria1" data-title="NewsKill EOS RGB 16000DPI">
            <img src="../assets/images/galeria/newskill_4.png" alt="raton gaming newskill eos" width="1100" height="1422">
        </a> 
        <a href="../assets/images/galeria/newskill_5.png" data-lightbox="galeria1" data-title="NewsKill EOS RGB 16000DPI">
            <img src="../assets/images/galeria/newskill_5.png" alt="raton gaming newskill eos" width="1100" height="1422">
        </a>
    </div>
    <!-- Galeria 2 -->
    <p><span>Teclado NewSkill Pyros V2</span></p><p>59.95€</p>
    <div class="galeria2">
        <a href="../assets/images/galeria/newskill_pyros_1.png" data-lightbox="galeria2" data-title="Teclado NewSkill Pyros V2">
            <img src="../assets/images/galeria/newskill_pyros_1.png" alt="Teclado newskill Pyros V2" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_pyros_2.png" data-lightbox="galeria2" data-title="Teclado NewSkill Pyros V2">
            <img src="../assets/images/galeria/newskill_pyros_2.png" alt="Teclado newskill Pyros V2" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_pyros_3.png" data-lightbox="galeria2" data-title="Teclado NewSkill Pyros V2">
            <img src="../assets/images/galeria/newskill_pyros_3.png" alt="Teclado newskill Pyros V2" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_pyros_4.png" data-lightbox="galeria2" data-title="Teclado NewSkill Pyros V2">
            <img src="../assets/images/galeria/newskill_pyros_4.png" alt="Teclado newskill Pyros V2" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/newskill_pyros_5.png" data-lightbox="galeria2" data-title="Teclado NewSkill Pyros V2">
            <img src="../assets/images/galeria/newskill_pyros_5.png" alt="Teclado newskill Pyros V2" width="1100" height="1422">
        </a>
    </div>
    <!-- Galeria 3 -->
    <p><span>NewSkill Bael</span></p><p>34.95€</p>
    <div class="galeria3">
        <a href="../assets/images/galeria/auriculares_1.png" data-lightbox="galeria3" data-title="Auriculares Bael NewSkill">
            <img src="../assets/images/galeria/auriculares_1.png" alt="Auriculares Bael NewSkill" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/auriculares_2.png" data-lightbox="galeria3" data-title="Auriculares Bael NewSkill">
            <img src="../assets/images/galeria/auriculares_2.png" alt="Auriculares Bael NewSkill" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/auriculares_3.png" data-lightbox="galeria3" data-title="Auriculares Bael NewSkill">
            <img src="../assets/images/galeria/auriculares_3.png" alt="Auriculares Bael NewSkill" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/auriculares_4.png" data-lightbox="galeria3" data-title="Auriculares Bael NewSkill">
            <img src="../assets/images/galeria/auriculares_4.png" alt="Auriculares Bael NewSkill" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/auriculares_5.png" data-lightbox="galeria3" data-title="Auriculares Bael NewSkill">
            <img src="../assets/images/galeria/auriculares_5.png" alt="Auriculares Bael NewSkill" width="1100" height="1422">
        </a>
    </div>
    <!-- Galeria 4 -->
    <p><span>Silla gaming Fafnir</span></p><p>149.95€</p>
    <div class="galeria4">
        <a href="../assets/images/galeria/silla_1.png" data-lightbox="galeria4" data-title="Silla NewSkill Fafnir">
            <img src="../assets/images/galeria/silla_1.png" alt="Silla gaming Fafnir" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/silla_2.png" data-lightbox="galeria4" data-title="Silla NewSkill Fafnir">
            <img src="../assets/images/galeria/silla_2.png" alt="Silla gaming Fafnir" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/silla_3.png" data-lightbox="galeria4" data-title="Silla NewSkill Fafnir">
            <img src="../assets/images/galeria/silla_3.png" alt="Silla gaming Fafnir" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/silla_4.png" data-lightbox="galeria4" data-title="Silla NewSkill Fafnir">
            <img src="../assets/images/galeria/silla_4.png" alt="Silla gaming Fafnir" width="1100" height="1422">
        </a>
        <a href="../assets/images/galeria/silla_5.png" data-lightbox="galeria4" data-title="Silla NewSkill Fafnir">
            <img src="../assets/images/galeria/silla_5.png" alt="Silla gaming Fafnir" width="1100" height="1422">
        </a>
    </div>      
    
    
    <!-- CANVAS PARTICLES -->
    <canvas id="particlesCanvas"></canvas>
    <!-- FOOTER-->
    <div class="footer">
        <footer>
            <p>Todos los Derechos Reservados</p>
            <a href="https://twitter.com/Skaramuza13" target="_blank"><img class="x-image" src="../assets/images/logos/logo_twitter.png" alt="logo de X" height="980" width="980"></a>
            <a href="https://facebook.com/Skaramuza13" target="_blank"><img class="f-image" src="../assets/images/logos/logo_facebooooooook.png" alt="logo de facebook" height="2000" width="2000"></a>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/lightbox-plus-jquery.js"></script>
    <!-- SCRIPT PARTICLES -->
    <script src="../js/particulas.js"></script>
    <!-- H1 OPACITY -->
    <script src="../js/h1.js"></script>
    
    
</body>
</html>
